
/ *Global Layout Setup * /

* {
  box-sizing: border-box;
  /*width:
  height: */
}

/*
body {

}
*/

/* Link Styles */
#headshot {
  width: 499px;
  height: 499px;
  margin: auto 0;
  border: solid white 4px;
  float: left;
  padding: 40px 40px 0px 0px;
}

.main-nav {
  background-color: brown;
  /*padding-bottom: -50px; */
}

.main-heading h1 {
  text-align: center;
}


#main-heading-name {
  margin: 0px 0px 0px 0px;
  float: left;
  font-size: 20px;
  padding: 10px;
  border: solid black 4px;
}


.main-heading nav ul {
  margin: -6px 0px 0px 0px;
  padding-left: 850px;
  width: 600px;
  list-style-type: none;
}

.main-heading ul li {
  display:inline-block;
  padding: 10px;
  border: solid black 4px;
}

.main-heading ul li:hover {
  transform: scale(1.1);
}
.main-heading ul li a {
  padding: 0px 0px 0px 0px;
  text-align:center;
  text-decoration: none;
  font-size: 20px;
}



.resume {
  text-decoration: none;
}

#aboutme-box-heading {
  margin-bottom: 0px;
  padding: 0px 0px 0px 30px;
  font-size: 35px;
  font-family: "Roboto", Times, serif;
}

section.aboutme-box {
  border: solid black 1px;
  margin:auto 0;
  padding: 0px 30px 300px 30px;
  margin-bottom: 300px;
}

section.aboutme-box p {
  padding-top: 15px;
  padding-left:100px;
  padding-right:50px;
  text-align: justify;
  font-size: 25px;
}


section.skills {
  border: solid black 4px;
  margin: auto;
  padding:  0px 50px 0px;
} 

.skills p {
  text-align: center;
  padding-top: -20px;
}

.skills h2 {
  font-weight:bold;
  text-align:center;
}

/* Sub-sections */


section.programming-languages {
  border: solid black 4px;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 15px 0px;
}

.programming-languages p {
  text-align: center;
}


.language-list li{
  list-style-type: none;
  display: inline-block;
  padding-bottom: 20px;
}

.language-list a {
  background-color: red;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  border: 20px;
  padding: 20px 6px 20px 50px;
  margin: 20px;
}

section.dev-tools {
  border: solid black 4px;
  padding: 20px;
  margin: 15px 0px 15px 0px;
}

section.dev-tools p {
  text-align: center;
}

section.design {
  border: solid black 4px;
  padding: 20px;
  margin: 15px 0px 15px 0px;
}

section.design p {
  text-align: center;
}

section.miscellaneous {
  border: solid black 4px;
  padding: 20px;
  margin: 15px 0px 15px 0px;
}

section.miscellaneous p {
  text-align: center;
}

/*
#language-title {
  
}

 li a {
  
} */

footer {
  background-color: #ffffff;
  position:static;
  bottom:0;
  width:100%;
  height:60px;
}